<footer>
    <section class="footer"  id="footer">
    
        <div class="row text-center">
            <div class="col-md-4 col-lg-4 mt-4 ">
          <h3 class="h" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 40px;"> موقع مرور</h3>
          <p class="p" style="margin-top: 20px;">شكرا لك لزيارة موقعنا ونامل ان
            <br> تكون استفدت وتعلمت اكثر عن المرور</p>
            <img src="/img/am.jpg" style="width: 20%;">
            
          
  
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mt-5 " >
              <!-- Links -->
              <h4 class="  mb-4" style="font-weight:400; ">تواصل معنا</h4>
            
              <p> info@example.com <span>  : البريد الالكتروني </span>  </p>
               
              <p><span> رقم الهاتف:</span>76567 022 </p>
              <p><span> العنوان:</span>حلب -حي المشارقة</p>
          
              <p><span> رقم الشكاوي:</span> 511</p>
            </div>
    
            <div class="col-md-3 col-lg-4 mt-5 ml-4 ">
              <h4> مواقع التواصل الاجتماعي</h4>
              <ul class="uu" >
               <li> <a href="" class="me-4 link-secondary">
                  <i class="bx bxl-facebook"></i>
                </a></li>
                <li> <a href="" class="me-4 link-secondary">
                  <i class="bx bxl-twitter"></i>
                </a></li>
               
                <li> <a href="" class="me-4 link-secondary">
                  <i class="bx bxl-instagram"></i>
                </a></li>
             
                <li>   <a href="" class="me-4 link-secondary">
                  <i class='bx bxl-github'></i>
                </a></li>
              </ul>
              </div>
  
            
          </div>
          <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p >جميع الحقوق محفوظة &copy; 2023 موقع مرور عربي</p>
        </div>
      </div>
    </section>
</footer>