<header class="myheader">
    <nav>
        <ul class="parent">
            <li>
                <a href="https://courses4arab.com/#available-courses">
                    home
                </a>
            </li>
            <li ><a href="/add-new-article">  
                Add new article </a></li>
            <li id="dark" class="mode">change mode</li>
            <li><a href=""> Support Us </a></li>
        </ul>
    </nav>
</header>