extends baseEmail

block content
  p . مرحبا #{firstName} 
  p .هل نسيت كلمة السر؟ لإعادة تعيين كلمة السر قم بإدخال الكلمة الجديدة مع تأكيدهاالى الرابط التالي
  p #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') إعادة تعيين كلمة السر
  p .إذا لم تكن انت من طلب إعادة تعيين كلمة السر الرجاء تجاهل هذه الرسالة