extends baseEmail

block content
  p . مرحبا #{firstName}
  p . اهلا بك في فرع المرور محافظة حلب يسرنا استضافتك 
  p ! نحن جميعًا عائلة كبيرة هنا ، لذا تأكد من تحميل صورة المستخدم الخاصة بك حتى نتعرف عليك بشكل أفضل قليلاً
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Upload user photo
  p ! إذا كنت بحاجة إلى أي مساعدة في استخدام الموقع ، فلا تتردد في الاتصال بنا
  p . طلاب جامعة حلب 