<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reset your password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-3 col-md-5 col-sm-9 offset-sm-2 form">
                  <span class="mm">اعادة تعيين كلمة المرور</span>
        <form class="Reset mt-5 pt-3 ">
          
     <div class="form-group ">
        <i class='bx bxs-lock-alt'></i>
            <input  type='password' placeholder='كلمة المرور ' name="password" id='password'>
        </div>
        <div class="form-group">
            <i class='bx bxs-lock-alt'></i>
            <input  type='password' placeholder='تأكيد كلمة المرور' name="passwordConfirm" id='passwordConfirm'>
        </div>
           
            <button class="submit">تغيير</button>
        </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            let url =window.location.href;
           let form =document.querySelector(".Reset");
        form.addEventListener("submit",()=>{
           event.preventDefault();
           let data={
            password:document.getElementById("password").value,
            passwordConfirm:document.getElementById("passwordConfirm").value
           }
            fetch(`${url}`, { method: 'PATCH', 
                     mode:"cors",
                     cache:"no-cache",
                     credentials:"same-origin",
                     headers:{
                        'Content-Type':'application/json'
                     },
                     redirect:"follow",
                     referrerPolicy:"no-referrer",
                     body:JSON.stringify(data)}).then((response) => response.json())
                     .then((data) =>{
                    if(data.status=='success'){        
            Swal.fire({
              text: "لقد تمت إعادة التعيين كلمة السر  بنجاح  ",
              confirmButtonColor: "#068331",
              confirmButtonText: "حسنا",
              showClass: {
                popup: "animate__animated animate__fadeInDown",
              },
              hideClass: {
                popup: "animate__animated animate__fadeOutUp",
              },
            });
            }
            setTimeout(function () {
                window.location.href = data.url;
            }, 2000);
                       
                    })
                     .catch((err) => {
                         console.log(err);
                     });
        })
        </script>
</html>